// .request-service {
// 	max-height: 100vh;
// }
.container-min {
	max-width: 800px;
	margin: 0 auto;
}
.request {
	padding-bottom: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 100vh;
	&__form {
		box-sizing: border-box;
		width:100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 0 5px;
	}
    &__inf {
  		width: 47.5%;
 		padding-bottom: 160px;
  		position: relative;
  	
  	}
  	&__add-inf {
		width: 47.5%;
		margin-top:11px;
	}

}

.client {
	&__inf {
		display: flex;
		flex-flow: column;
		align-items: stretch;
  		}
  	&__item {
		box-sizing: border-box;
		border-style: solid;
		border-width: 0 0 2px 0;
		border-color: transparent transparent #dddddd transparent;
		padding-top: 25px;
	  	width: 100%;
	  	text-transform: uppercase;
	  	font-size: 11px;
	  	line-height: 20px;
	  	font-weight: bold;
	  	outline: none;
	 	transition: border-color 0.3s linear;
 		&:focus {
  			border-color: transparent transparent #c4045f transparent;
		}
	}
	&__select {
  		margin-top: 50px;
	}
}
.select {
	position: relative;
	&__menu {
		outline: none;
		background-color: transparent;
		height: 50px;
		padding: 5px;
		line-height: 1;
		font-size: 11px;
		width: 100%;
		-webkit-appearance: none;
		margin: -2px 0;
	}
	&__arrow {
		position: absolute;
		right: 20px;
		bottom: 15px;
	}
}
.arrow {
	width: 20px;
	height: 20px;
	background-color: #fcfcfd;
	box-sizing: border-box;
	border: 2px solid #cacbd0;
	border-radius: 10px;
	z-index: 2;
	&__down {
		box-sizing: border-box;
		height:6px;
		width:6px;
		border-style:solid;
		border-width: 0 2px 2px 0;
		border-color: transparent #cacbd0 #cacbd0 transparent;
		transform: rotate(45deg);
		margin-left:5px;
		margin-top:7px;
		position:relative;
		&:after {
			content: " ";
			display: block;
			box-sizing:border-box;
			height:8px;
			width: 2px;
			background-color: #cacbd0;
			transform:rotate(-45deg);
			position:absolute;
			margin-left:3px;
			margin-top:0;
			top:-2px;
			left:-2px;
		}
	}
}


.add-inf {
	p {
		text-transform: uppercase;
		font-size: 11px;
		line-height: 20px;
		font-weight: 600;
		color: #3c3f46;
		margin-bottom: 2px;
		}
	&__textarea {
		padding: 15px;
		box-sizing:border-box;
		resize: none;
		outline: none;
		width: 100%;
		height: 250px;
	}
}
.button {
	height: 48px;
	width: 178px;
	color: white;
	border: 1px solid #c4045f;
	border-radius: 25px;
	background-color: #c4045f;
	font-size: 15px;
	text-transform: uppercase;
	&:hover {
  		cursor: pointer;
		box-shadow: 0 0 8px rgba(112,114,119,0.9);
	}
}
.footer {
  	text-align: center;
  	color: #3c3f45;
  	&__contacts {
  		h3 {
			text-transform: uppercase;
		}
		p {
			line-height: 30px;
		}
	}
	&__social {
		display: flex;
		justify-content: center;
	}
	&__network {
		width: 40px;
		height: 40px;
		border: 2px solid #c5c5c5;
		border-radius: 50%;
		text-align: center;
		box-sizing: border-box;
		margin:3px;
		&:hover {
			border: 2.6px solid #336bbc;
			color: #336bbc;
		}
	}
	&__link {
		line-height: 36px;
		color: #c5c5c5;
	}
	&__tel {
		color: #3c3f45;
		text-decoration: none;
	}
	&__mail {
		color: #c4045f;
	}
	&__lastline {
		font-size: 12px;
		&:before {
			content: "©";
		}
		span {
			font-weight: 800;
		}
	}
}
@media (max-width: 578px) {
	.container-min {
		margin: 0 auto;
		width: 90%;
	}
	.request {
		padding-bottom: 40px;
		&__form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			}
		&__inf {
	  		width: 100%;
	 		padding-bottom: 50px;
	  		position: relative;
	  		}
	  	&__add-inf {
			width: 100%;
			margin-top: 5px;
			}
	}
	.add-inf {
		&__textarea {
			resize: none;
			outline: none;
			width: 100%;
			height: 80px;
		}
	}
}
@media (max-width: 330px) {
	.client {
		&__item {
			padding-top: 15px;
		}
	}
}
@media (max-height: 495px){
	.request {
		&__inf {
			padding-bottom: 30px;
		}
		&__add-inf {
			p{
				margin-bottom: 15px;
				&:hover {
					cursor: pointer;
				} 
			}
			textarea {
				display: none;
			}
		}
	}
}
@media (max-height: 350px){
	.request {
		max-height: none;
	}
}