@import "headerBlockStyles";
@import "middleBlockStyles";
@import "lastPart";
@import "selectric";
@font-face {
  font-family: GothamPro;
  src: url("../fonts/GothamProRegular.woff");
}

@font-face {
  font-family: GothamProBold;
  src: url("../fonts/GothamProBold.woff");
}

body {
  font-family: GothamPro;
}
.wrapper {
  padding-right: 15px;
    padding-left: 15px;
  margin-right: auto;
  margin-left: auto;


}
@media (min-width: 768px) {
  .wrapper {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .wrapper {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 1170px;
  }
}
