





.headline {
  width: 100%;
}
.headline__text {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  font-size: 28px;
  font-weight: bold;
}
.headline__text:after {
  content: "___";
  position: absolute;
  color: #c4045f;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.request {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 80px;
}
.request__client {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.request__inf {
  width: 47.5%;
  padding-bottom: 160px;
  position: relative;
}
.client__inf {
  display: flex;
  flex-flow: column;
}
.request__add-inf {
	width: 47.5%;
	margin-top: 13px;
}
.client__item {
	box-sizing: border-box;
	height: 50px;
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: transparent transparent #dddddd transparent;
	padding-top: 25px;
  width: 100%;
  outline: none;
  transition: border-color 0.3s linear;
}
.client__item:focus {
  border-color:transparent transparent #c4045f transparent;
}
.client__select {
  margin-top: 50px;
}
.select {
	position: relative;
}
.select__menu {
	outline: none;
	background-color: transparent;
	height: 50px;
	padding: 5px;
	line-height: 1;
	font-size: 11px;
	width: 100%;
	-webkit-appearance: none;
}
.select__label {
  position: absolute;
  left: 20px;
  font-size: 11px;
  font-weight: bold;
  line-height: 50px;
  color: #3c3f45;
  z-index: 1;
  text-transform: uppercase;
}

.select__arrow {
	position: absolute;
	right: 20px;
	bottom: 15px;
}
.arrow {
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	border: 1px solid #cacbd0;
	border-radius: 10px;
	z-index: 2;
}
.arrow__down {
	box-sizing: border-box;
	height:6px;
	width:6px;
	border-style:solid;
	border-width: 0 2px 2px 0;
	border-color: transparent #cacbd0 #cacbd0 transparent;
	transform: rotate(45deg);
	margin-left:6px;
	margin-top:8px;
	position:relative;
}
.arrow__down:after {
	content: " ";
	display: block;
	box-sizing:border-box;
	height:8px;
	width: 2px;
	background-color: #cacbd0;
	transform:rotate(-45deg);
	position:absolute;
	margin-left:2.5px;
	margin-top:0;
	top:-2px;
	left:-2px;
}

.add-inf > p {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: medium;

}
.add-inf__textarea {
	resize: none;
	outline: none;
	width: 100%;
	height: 250px;
}
.request__button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.button {
	height: 48px;
	width: 178px;
	color: white;
	border: 1px solid #c4045f;
	border-radius: 25px;
	background-color: #c4045f;
	font-size: 15px;
	text-transform: uppercase;
}
.button:hover {
  cursor: pointer;
	box-shadow: 0 0 8px rgba(112,114,119,0.9);
}
.footer {
  text-align: center;
  color: #3c3f45;
}

.footer__contacts > h3 {
	text-transform: uppercase;
}
.footer__contacts > p {
	line-height: 30px;
}
.footer__social {
	display: flex;
	justify-content: center;
}
.footer__network {
	width: 40px;
	height: 40px;
	border: 2px solid #c5c5c5;
	border-radius: 50%;
	text-align: center;
	box-sizing: border-box;
	margin:3px;

}
.footer__link {
	line-height: 36px;
	color: #c5c5c5;
}
.footer__network:hover {
	border-color: #336bbc;
	color: #336bbc;
}
.footer__tel {
	color: #3c3f45;
	text-decoration: none;
}
.footer__mail {
	color: #c4045f;
}
.footer__lastline {
	font-size: 12px;
}
.footer__lastline > span {
	font-weight: 800;
}
.footer__lastline:before {
	content: "©";
}

